.photo-grid{
    display: grid;
    padding-top: 64px;
    gap: 12px;
}

@media screen and (min-width: 768px) {
    .photo-grid{
        gap: 16px;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 88px;

    }
}

@media screen and (min-width: 1024px) {
.photo-grid{
    gap: 14px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 92px;
}
}

@media screen and (min-width: 1280px) {
    .photo-grid{
        gap: 16px;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 92px;
        margin-left: -100px;
        margin-right: -100px;
    }
}