.lead__title {
    color: white;
    text-align: center;
    line-height: 44px;
    font-size: 40px;
    font-weight: 900;
    font-family: "Inter", sans-serif;
    margin: 0 16px 16px;
}

@media screen and (min-width: 768px) {
    .lead__title {
        font-size: 96px;
        line-height: 100px;
        max-width: 720px;
        margin: 0 auto 32px;
    }
}