.lead__image {
    background-image: url("../../../images/kalegin-michail-179870-unsplash.svg");
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}