.header__lang-links{
    position: absolute;
    left: 242px;
    top: 30px;
    display: flex;
    gap: 18px;
    color: white;
    /* flex-direction: row; */
    /* justify-content: space-between; */
}